.conteiner {
  display: flex;
  flex-direction: column;
  width: 95vw;
}

.tweet-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #e7e1e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.tweet-header {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info {
  flex-grow: 1;
}

.username {
  margin: 0;
  font-size: 1.2em;
}

.email {
  margin: 0;
  color: #666;
}

.tweet-content {
  margin-top: 12px;
}

.tweet-text {
  margin: 0;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.tweet-date {
  color: #666;
}

.actions .btn-reply,
.actions .btn-retweet,
.actions .btn-del,
.actions .btn-like {
  padding: 6px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  background-color: #394752;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.actions .btn-reply:hover,
.actions .btn-retweet:hover,
.actions .btn-del:hover,
.actions .btn-like:hover {
  background-color: #0b7beb;
}

